


.GROOME
{
    display: flex;
    justify-content: space-around;
    background-image: url(/public/GROOMING.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white !important;
    padding-top: 120px;
    padding-bottom: 120px;

}


.GROOMING_ULTIMATE button img 
{
     width: 40px;
}

.GROOMING_ULTIMATE button 
{
    background-color: #fe6c2c;
    border: none;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
    color: white !important;
}

.GROOMING_ULTIMATE h4
{
    width: 220px;
    font-family: "Gobold";
    font-size: 40px;
}

.GROOMING_ULTIMATE p
{
    width: 210px;
    font-family: "Bion";
    font-size: 22px;
}


/* font-family:"Gobold"; */
.GROOMING_BARBER
{
    width: 340px;
    font-family:"Gobold";
}


.GROOMING_BARBER b
{
    font-size: 60px;
}

.GROOMING_BARBER img 
{
    width: 90px;
    height: 70px;
}

.GROOMINGPRODUCT p
{
    color: #fe6c2c;
}


.GROOMING_PORDUCT b
{
    width: 20px;
}

.GROOMINGPRODUCT h6
{
    width: 170px;
}

.GROOMING_INGREDIENT h6
{
    width: 200px;
    font-weight: 700;
}

/* Media Query */
@media (width <= 1250px) 
{
    
    .GROOME
     {
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding-left: 40px;
     }


     .GROOMING_BARBER
{
    width: 250px;
    padding-top: 50px;
}

.GROOMING_ULTIMATE h4
{
    width: 220px;
    font-family: "Gobold";
    font-size: 30px;
}



.GROOMING_BARBER b
{
    font-size: 30px;
}

}